<%- include("partials/header"); -%>
    <h1 class="heading home">About</h1>
    <div class="home">
        <p>Archit Sinha</p>
        <p>Dept of IT</p>
        <p>Enrollment Number:12020002004048</p>
        <p>Roll No. 41</p>
        <p>Contact: 7033190765
        <p>Email: architsinha15700@gmail.com</p>
        </p>
    </div>
    <%- include("partials/footer"); -%>