<%- include("partials/header") -%>

<main class="form-signin w-100 m-auto">
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="mb-3">
    <label for="">Title</label>
    <input type="text" class="form-control" name="postTitle">
    </div>
    <div class="mb-3"> 
    <label for="">Post</label>
    <textarea type="text" class="form-control" name="postBody" cols="40" rows="5"></textarea>
    </div>
   <p><button class="buttonbg publish btn btn-primary" type="submit" name="button">Publish</button></p> 
</form>
</main>
<%- include("partials/footer") -%>